@model List<FornecedorModel>
@{
    ViewData["Title"] = "Listagem de fornecedores";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Fornecedor" asp-action="Criar">Adicionar novo fornecedor</a>
    </div>
    <br />

    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        This is a success alert—check it out!
    </div>

    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        This is a danger alert—check it out!
    </div>

<h1 class="display-4">Listagem de fornecedores</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Especialidade</th>
            <th scope="col">CEP</th>
            <th scope="col">Endereço</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (var fornecedor in Model)
                {
                    <tr>
                        <th scope="row">@fornecedor.Id</th>
                        <td>@fornecedor.Name</td>
                        <td>@fornecedor.CNPJ</td>
                        <td>@fornecedor.Especialidade</td>
                        <td>@fornecedor.CEP</td>
                        <td>@fornecedor.Endereco</td>
                        <td>
                            <a role="button" class="btn btn-primary" asp-controller="Fornecedor" asp-action="Editar" asp-route-id="@fornecedor.Id">Editar</a>
                            <a role="button" class="btn btn-danger" asp-controller="Fornecedor" asp-action="ApagarConfirmacao" asp-route-id="@fornecedor.Id">Deletar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
</table>

</div>

